 .button {
    background-color: blueviolet;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #303030;
    font-weight: bold;
    cursor: pointer;
}